<!--
    Team 2: Jason Thomas | Travis Johnson
    12-7-2020
    "Final Project (Team)"
    "complete a CRUD MVC ASP.NET core application"
-->

@{
    ViewBag.Title = "Access Denied";
}

<h2>Access Denied</h2> <!-- h2 header -->