<!--
    Team 2: Jason Thomas | Travis Johnson
    12-7-2020
    "Final Project (Team)"
    "complete a CRUD MVC ASP.NET core application"
-->

@{
    ViewBag.Title = "About";
}
<h1>About Us</h1> <!-- h1 header -->

<p>We strive to provide a convenient method for tracking medications.</p>