<!--
    Team 2: Jason Thomas | Travis Johnson
    10-25-2020
    "Week 5 Develop, Code, Test and Debug web app Assignments (Team)"
    "Create an MVC Core web app"
-->

@model List<DrugClass>
@{
    ViewBag.Title = "Drug Class Manager";
}

<h1>@ViewBag.Title</h1> <!-- h1 header -->
<div>
    <!-- table listing drug classes w/ update & delete options -->
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th></th>
                <th></th>
        </thead>
        <tbody>
            <!-- loop through & display drug classes -->
            @foreach (var drugClass in Model)
            {
                <tr>
                    <td>@drugClass.Name</td>
                    <td>
                        <a asp-action="Update"
                           asp-route-id="@drugClass.DrugClassId">Update</a>
                    </td>
                    <td>
                        <a asp-action="Delete"
                           asp-route-id="@drugClass.DrugClassId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <!-- button for adding new drug class -->
    <a asp-action="Add" class="btn btn-primary">Add New Drug Class</a>
</div>