<!--
    Team 2: Jason Thomas | Travis Johnson
    10-25-2020
    "Week 5 Develop, Code, Test and Debug web app Assignments (Team)"
    "Create an MVC Core web app"
-->

@model List<Route>
@{
    ViewBag.Title = "Route Manager";
}

<h1>@ViewBag.Title</h1> <!-- h1 header -->
<div>
    <!-- table listing routes w/ update & delete options -->
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th></th>
                <th></th>
        </thead>
        <tbody>
            <!-- loop through & display routes -->
            @foreach (var route in Model)
            {
                <tr>
                    <td>@route.Name</td>
                    <td>
                        <a asp-action="Update"
                           asp-route-id="@route.RouteId">Update</a>
                    </td>
                    <td>
                        <a asp-action="Delete"
                           asp-route-id="@route.RouteId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <!-- button for adding new route -->
    <a asp-action="Add" class="btn btn-primary">Add New Route</a>
</div>